# https://bcain-llvm.readthedocs.io/projects/clang/en/latest/ClangFormatStyleOptions/

BasedOnStyle: Chromium
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
Cpp11BracedListStyle: true
ReflowComments: false
IndentWidth: 4
SortIncludes: true
SpaceAfterCStyleCast: true
UseTab: Never

