*
!*/

!.gitignore
!.zshrc

!bin/**

!.config/alacrity/**
!.config/dunst/**
!.config/fastfetch/**
!.config/hypr/**
.config/hypr/monitors.conf
!.config/starship/**
!.config/rofi/**
!.config/tofi/**
!.config/waybar/**
!.config/background/**
!.config/tmux/**
!.config/kanata/**
!.config/systemd/user/kanata.service
!.config/nvim/**
.config/nvim/lazy-lock.json
