@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#waybar > * {
  margin: .5rem 0 .5rem .5rem;
  padding-right: .5rem;
}

#waybar > * > * > * > * {
  border-radius: .5rem;
  background-color: @base;
  box-shadow: 0px 0px 8px 0px @crust;
}

/* left */
#waybar.empty #window {
  background-color: transparent;
  box-shadow: none;
}

#window {
  color: @mauve;
  padding: .5rem;
}

/* center */
#workspaces {
  margin: 0 .5rem;
  padding: .25rem;
}

#workspaces button {
  color: @lavender;
  background-color: @crust;
  padding: 0;
  min-width: 2.25rem;
  margin-right: .25rem;
  transition: 100ms;
  padding: 4px 0;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button.active {
  min-width: 4rem;
  background-color: @mantle;
  color: @sky;
}

/* right */
.modules-right > *:not(:first-child) > * {
  margin-left: .5rem;
}

.modules-right > * > * > * > * {
  padding: 0 .75rem;
}

/* connections */
#network.disconnected {
  color: @red;
}

#network.ethernet {
  color: @sapphire;
}

#network.wifi {
  color: @green;
}

#custom-mullvad.Connected {
  color: @green;
}

#custom-mullvad {
  color: @red;
  padding-right: 1rem;
}

#bluetooth.off, #bluetooth.disabled {
  color: @red;
}

#bluetooth.on {
  color: @green;
}

#bluetooth.connected {
  color: @sapphire;
}

/* hardware */
#cpu, #memory, #battery {
  color: @green;
}

#battery.charging {
  color: @yellow;
}

#cpu.warning,
#memory.warning,
#battery.warning:not(.charging) {
  color: @peach;
}

#cpu.critical,
#memory.critical,
#battery.critical:not(.charging) {
  color: @red;
}

/* misc */
#clock {
  color: @blue;
}

#clock span {
  color: #FFFFFF
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @maroon;
}

#custom-spotify {
  color: @green;
  padding-right: 1rem;
}

#custom-steam {
  color: @blue;
  padding-right: 1rem;
}

#custom-kanata {
    padding-right: 1.25rem;
}

#custom-kanata.active {
    color: @green;
}

#custom-kanata.inactive {
    color: @red;
}

/* power */
#custom-lock {
  color: @lavender;
}

#custom-power {
  padding-right: 1rem;
  color: @red;
}
