@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#waybar > * {
  margin: .5rem;
}

#waybar > * > * > * > * {
  border-radius: .5rem;
  background-color: @surface0;
}

/* left */
#window {
  color: @mauve;
  padding: .5rem;
}

/* center */
#workspaces {
  margin: 0 .5rem;
}

#workspaces button {
  color: @lavender;
  padding-right: .9rem; 
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

/* right */
.modules-right > * + * {
  margin-left: .5rem;
  background-color: @red;
}

/* connections */
#group-connection {
  /* margin-right: .5rem; */
}

#group-connection > * > * {
  padding: 0 .75rem;
}


#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0 .75rem;
}

#clock {
  color: @blue;
  border-radius: 0px .5rem .5rem 0px;
}

#clock span {
  color: #FFFFFF
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: .5rem 0px 0px .5rem;
}

#custom-lock {
  margin-left: .5rem;
  border-radius: .5rem 0px 0px .5rem;
  color: @lavender;
}

#custom-power {
  padding-right: 16px;
  border-radius: 0px .5rem .5rem 0px;
  color: @red;
}
