configuration {
  modes: ["window", "drun"];
  display-drun: "App:";
  display-windows: "Window:";

  terminal: "alacritty";
	
  show-icons: true;
	icon-theme: "Papirus";
  font: "JetBrainsMono Nerd Font Medium 16";
}

@theme "./style.rasi"

* {
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}